/*
   statusbar-overlay sets the background color for the overlay. Black text is the default when the statusbar plugin is not added. When the
   statusbar plugin is added, it also adds default setting to make the content white via:

       <preference name="StatusBarStyle" value="lightcontent"/>

   Setting the background color to black will allow the default light content (white text/icons) to show on it. The statusbar plugin is included
   in the config.xml file and will be added by the CLI when you build locally.

   See https://github.com/apache/cordova-plugin-statusbar
*/

/* 
    Colors:
    Primary -> #bfc931
    Light -> #f4fc66
    Dark -> #8b9800

*/

.statusbar-overlay {
    background: #000000;
}

#parteSuperior {
    background: #0575E6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #021B79, #0575E6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #021B79, #0575E6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.icon-google {
    width: 11vw;
    height: 11vw;
}

#parteInferior {
    background-color: white;
}

.cuadrado {
    height: 20vh;
    width: 20vh;
    background-color: white;
}

.pantalla-100 {
    width: 100%;
/*    height: 100%; */
    height: 100vh;
}

.pantalla-70 {
    /* width: 100%; */
    height: 70%;
}

.pantalla-25 {
    width: 100%;
    height: 20%;
}

.gicon {
    width: 12px;
    height: 15;
}

.image-div {
    height: 40vh;
    width: 100%;
    background-color: cyan;
}

.text-black {
    color: black;
}

.demo-card-header-pic .card-header {
    height: 40vw;
    background-size: cover;
    background-position: center;
    color: #fff;
}

.demo-card-header-pic .card-content-padding .date {
    color: #8e8e93;
}

.f-size-15 {
    font-size: 15px;
}

.f-size-20 {
    font-size: 20px;
}

.color-gray {
    color: #707070;
}